html, body {
  height: 100%;
}

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 19px Helvetica, Arial;
  margin: 0;
  background-color: #FCFCFC;
  color: #000000;
}

a:link {
  color: red;
}
/* visited link */

a:visited {
  color: green;
}
/* mouse over link */

a:hover {
  color: hotpink;
}
/* selected link */

a:active {
  color: blue;
}

/* Grid */
.grid {
  display: grid;
  height: 100%;
}

.inline-grid {
  display: inline-grid;
  display: -moz-inline-grid;
  display: -ms-inline-grid;
  width: 100%;
}

#main-grid {
  grid-template-columns: auto;
  grid-template-rows: 68px 1fr 68px;
}

@media (max-width: 960px) {
  #main-grid {
    grid-template-rows: 58px 1fr 58px;
  }
}

.full-height {
  height: 100%;
}

/* Flexbox */
.flex {
  display: flex;
}

/* Flexbox items center */
.flex-center {
  align-items: center;
  justify-content: center;
}

.wrap {
  max-width: 960px;
  margin: auto;
}

#main-content {
  overflow-y: auto;
}

/* The white bar at the top and bottom of the page */
.navbar {
  width: 100%;
  height: 68px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 44, 0.06);
  border-top: 1px solid rgba(0, 0, 44, 0.06);
}

@media (max-width: 960px) {
  .navbar {
    height: 58px;
  }
}

.brand {
  font-size: 24px;
  font-weight: bold;
  color: #3C9EE9;
}

#user-input {
  width: 100%;
  height: 48px;
  background-color: white;
  border: 1px solid rgba(0, 0, 44, 0.06);
}

@media (max-width: 960px) {
  #user-input {
    border: none;
  }
}

#f {
  grid-template-columns: auto 48px;
}

#m {
  border: none;
  padding-left: 16px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0);
}

textarea:focus, input:focus, #m:focus {
  border: none;
  outline: none;
} 

#submit-button {
  width: 48px;
  height: 48px;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

#submit-button:focus {
  border: none;
  outline: none;
}

#messages {
  list-style-type: none;
}

.entry {
  margin: 16px;
}

.user-entry {
  display: flex;
  justify-content: flex-end;
}

.message {
  padding: 16px 24px;
  font-size: 16px;
  display: inline-block;
}

.system-message {
  background-color: white;
  border-radius: 18px 18px 18px 4px;
  -moz-border-radius: 18px 18px 18px 4px;
  -webkit-border-radius: 18px 18px 18px 4px;
  border: 1px solid rgba(0, 0, 44, 0.06);
}

.user-message {
  color: white;
  background-color: #3C9EE9;
  border-radius: 18px 18px 4px 18px;
  -moz-border-radius: 18px 18px 4px 18px;
  -webkit-border-radius: 18px 18px 4px 18px;
}
