/*

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 19px Helvetica, Arial;
  padding-left: 20%;
  padding-right: 20%;
  background-color: #ffe5e5;
  color: #000000;
}

#f {
  background: #000;
  position: fixed;
  bottom: 1%;
  left: 20%;
  right: 20%;
  border: 1px solid black;
}

#f input {
  border: 2px solid black;
  width: 80%;
  font-size: 120%;
}

#f button {
  background: rgb(0, 0, 0);
  border: 2px solid rgb(255, 248, 248);
  margin-right: 0;
  width: 20%;
  font-size: 120%;
  border-radius: 8px;
  color: rgb(230, 215, 215);
}

#messages {
  list-style-type: none;
  padding: 0;
  padding-bottom: 3%;
  width: 900px;
  text-align: right;
}

#messages li {
  padding: 5px 10px;
  background-color: #ff9999;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.473);
  color: #000000;
  font-family: "Lato", sans-serif;
  border-radius: 8px;
  font-size: 18px;
  flex: auto;
  margin-bottom: 10px;
}

#messages li:hover {
  background-color: #f56969;
  transition: zoom-in;
}

#messages li:nth-child(odd) {
  font-size: 1rem;
  font-family: var(--font--family);
  height: auto;
  width: 900px;
  overflow-y: auto;
  text-align: left;
}

a:link {
  color: red;
}

a:visited {
  color: green;
}


a:hover {
  color: hotpink;
}


a:active {
  color: blue;
}

*/
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  font-size: 16px;
}

body {
  background: #eee;
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.return-msg {
  font-size: 0.8rem;
  color: #212121;
  opacity: 0.8;
  text-align: center;
  margin: 1.6rem 0;
}
#messages {
  display: flex;
  width: 28rem;
  margin: 0 auto;
  flex-direction: column;
}
#messages li {
  padding: 1rem 1rem;
  line-height: 1.5;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  min-width: 4rem;
  max-width: 25rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  background: #fff;
}
#messages li:nth-child(even) {
  background: #262626;
  color: #fff;
  align-self: flex-end;
}

#messages li:last-child {
  margin-bottom: 5rem;
}

.form-container {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 30rem;
  height: 4rem;
  background: #e2001a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
}
#f {
  display: flex;
  justify-content: center;
  align-items: center;
}
#m {
  width: 20rem;
  height: 1.25rem;
  margin-right: 1rem;
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-family: "Lato", sans-serif;
  padding: 0.2rem 1rem;
  font-size: 1rem;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
button img {
  width: 1.2rem;
  height: 1.2rem;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
